In [4]:
# pip install vininfo[cli]
# pip install -U scikit-learn
# pip install pyvin
# pip install pgeocode

In [43]:
from pyvin import VIN
from vininfo import Vin
import pgeocode
import numpy as np
import pandas as pd

In [75]:
#df0 = pd.read_csv('0_data.csv')
#df1 = pd.read_csv('1_data.csv')
#df2 = pd.read_csv('2_data.csv')

df0 = pd.read_csv('0_data_old.csv', usecols=['vin', 'year', 'make_name', 'model_name', 'city', 'mileage', 'fuel_type', 'transmission', 'engine_cylinders','wheel_system', 'price','latitude','longitude', 'body_type'])
df1 = pd.read_csv('1_data_old.csv', usecols=['VIN', 'year', 'manufacturer', 'model', 'region', 'odometer', 'fuel','transmission','cylinders','drive', 'price', 'lat', 'long', 'type'])
df2 = pd.read_csv('2_data_old.csv', usecols=['vin', 'year', 'make', 'model', 'city', 'miles', 'fuel_type', 'transmission', 'engine_size','drivetrain', 'price', 'zip', 'body_type'])

C:\Users\atruo\AppData\Local\Temp\ipykernel_8108\4262062288.py:7: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('2_data_old.csv', usecols=['vin', 'year', 'make', 'model', 'city', 'miles', 'fuel_type', 'transmission', 'engine_size','drivetrain', 'price', 'zip', 'body_type'])

In [76]:
pd.set_option('display.max_columns', None)

In [77]:
df0

,vin,body_type,city,engine_cylinders,fuel_type,latitude,longitude,make_name,mileage,model_name,price,transmission,wheel_system,year
0,ZACNJABB5KPJ92081,SUV / Crossover,Bayamon,I4,Gasoline,18.3988,-66.1582,Jeep,7.0,Renegade,23141.0,A,FWD,2019
1,SALCJ2FX1LH858117,SUV / Crossover,San Juan,I4,Gasoline,18.4439,-66.0785,Land Rover,8.0,Discovery Sport,46500.0,A,AWD,2020
2,JF1VA2M67G9829723,Sedan,Guaynabo,H4,Gasoline,18.3467,-66.1098,Subaru,NaN,WRX STI,46995.0,M,AWD,2016
3,SALRR2RV0L2433391,SUV / Crossover,San Juan,V6,Gasoline,18.4439,-66.0785,Land Rover,11.0,Discovery,67430.0,A,AWD,2020
4,SALCJ2FXXLH862327,SUV / Crossover,San Juan,I4,Gasoline,18.4439,-66.0785,Land Rover,7.0,Discovery Sport,48880.0,A,AWD,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1GCUYEED1LZ285830,Pickup Truck,Sturgis,V8,Gasoline,41.7981,-85.4287,Chevrolet,NaN,Silverado 1500,50578.0,A,4WD,2020
99996,5XYPGDA32GG081243,SUV / Crossover,Cranston,I4,Gasoline,41.7982,-71.4481,Kia,67989.0,Sorento,15300.0,A,AWD,2016
99997,WBAJR7C07LCD65602,Sedan,Sudbury,I4,Gasoline,42.3632,-71.3953,BMW,4456.0,5 Series,52498.0,A,AWD,2020
99998,5FNYF6H50MB014878,SUV / Crossover,Swanzey,V6,Gasoline,42.8770,-72.2333,Honda,2.0,Pilot,41480.0,A,AWD,2021
99999,LRBFXBSA3LD097990,SUV / Crossover,Waterford,I4,Gasoline,42.6595,-83.4022,Buick,NaN,Envision,28621.0,A,FWD,2020

In [78]:
df1

,region,price,year,manufacturer,model,cylinders,fuel,odometer,transmission,VIN,drive,type,lat,long
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,jacksonville,49395,2019.0,chevrolet,silverado trail boss,8 cylinders,gas,12700.0,automatic,1GCPYCEF1KZ338219,4wd,pickup,30.207288,-81.738969
99996,jacksonville,18590,2018.0,kia,sportage lx sport utility 4d,NaN,other,20005.0,other,KNDPMCACXJ7395729,NaN,other,30.330000,-81.650000
99997,jacksonville,49495,2019.0,chevrolet,silverado trail boss,8 cylinders,gas,12700.0,automatic,1GCPYCEF1KZ338219,4wd,pickup,30.207288,-81.738969
99998,jacksonville,24495,2014.0,chevrolet,silverado 1500 lt 4x4,8 cylinders,gas,100166.0,automatic,1GCVKREC7EZ391819,4wd,truck,30.207288,-81.738969
99999,jacksonville,12999,1989.0,jeep,wrangler,4 cylinders,gas,111000.0,manual,NaN,4wd,convertible,28.712000,-81.355200

In [79]:
df2

,vin,price,miles,year,make,model,body_type,drivetrain,transmission,fuel_type,engine_size,city,zip
0,1GCWGFCF3F1284719,20998.0,115879.0,2015.0,Chevrolet,Express Cargo,Cargo Van,RWD,Automatic,E85 / Unleaded,4.8,Ellicott City,21043
1,WBY7Z8C59JVB87514,27921.0,7339.0,2018.0,BMW,i3,Hatchback,RWD,Automatic,Electric / Premium Unleaded,0.6,Pompano Beach,33064
2,ML32F4FJ2JHF10325,11055.0,39798.0,2018.0,Mitsubishi,Mirage G4,Sedan,FWD,Automatic,Unleaded,1.2,West Bend,53095
3,1GCPTEE15K1291189,52997.0,28568.0,2019.0,Chevrolet,Colorado,Pickup,4WD,Automatic,Diesel,2.8,Layton,84041
4,1G2AL18F087312093,NaN,188485.0,2008.0,Pontiac,G5,Coupe,FWD,Automatic,Unleaded,2.2,Saint Peters,63376
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,WA1ANAFY0J2138713,31395.0,29085.0,2018.0,Audi,Q5,Crossover,4WD,Automatic,Premium Unleaded,2.0,Selma,78154.0
99996,JF1VA1A60K9818070,29990.0,30003.0,2019.0,Subaru,WRX,Sedan,4WD,Manual,Premium Unleaded,2.0,Charlotte,28227.0
99997,WBXYH9C03L5P79755,35991.0,8825.0,2020.0,BMW,X2,SUV,FWD,Automatic,Premium Unleaded,2.0,Murrieta,92562.0
99998,JTJYARBZ7H2082838,27960.0,56955.0,2017.0,Lexus,NX,SUV,FWD,Automatic,Premium Unleaded,2.0,Buford,30518.0
99999,WBXHT3C37J5L28038,26288.0,23342.0,2018.0,BMW,X1,SUV,4WD,Automatic,Premium Unleaded,2.0,South Amboy,8879.0

In [80]:
df2 = df2.astype({"zip": 'str'})

In [81]:
def convert_coord(x):
    nomi = pgeocode.Nominatim('us')
    query = nomi.query_postal_code(x)
    data = {
    "lat": query["latitude"],
    "lon": query["longitude"]
    }
    
    return data

In [82]:
#df2.zip.nunique()

In [83]:
# run if zips.csv does not exist

#zip_coords2 = dict()
#i=0
#zips = df2.zip.unique()
#for z in zips:
#    print(i)
#    i += 1
#    #zip_coords2[z] = geocoder_latlng(z)
#    zip_coords2[z] = convert_coord(z)
#
#zips = pd.DataFrame.from_dict(data=zip_coords2, orient='index')
#zips = zips.reset_index()
#zips.columns=['zip', 'lat', 'long']
#
#zips.to_csv('zips.csv', index=False)
#
#zips.isnull.sum()

In [84]:
zips = pd.read_csv("zips.csv")

In [85]:
zips = pd.read_csv("zips.csv")
df2 = pd.merge(df2, zips, on='zip')

In [86]:
# TODO: add transmission, engine something, vin -> country of manufacter, body type
df0 = df0[['vin', 'year', 'make_name', 'model_name', 'city', 'mileage', 'fuel_type', 'transmission', 'engine_cylinders','wheel_system', 'price','latitude','longitude', 'body_type']]
df0.columns = ['vin', 'year', 'make', 'model', 'city', 'mileage', 'fuel','transmission', 'engine','drive', 'price','lat','long', 'body_type']

df1 = df1[['VIN', 'year', 'manufacturer', 'model', 'region', 'odometer', 'fuel','transmission','cylinders','drive', 'price', 'lat', 'long', 'type']]
df1.columns = ['vin', 'year', 'make', 'model', 'city', 'mileage', 'fuel','transmission', 'engine','drive', 'price', 'lat', 'long', 'body_type']

df2 = df2[['vin', 'year', 'make', 'model', 'city', 'miles', 'fuel_type', 'transmission', 'engine_size','drivetrain', 'price', 'lat', 'long', 'body_type']]
df2.columns = ['vin', 'year', 'make', 'model', 'city', 'mileage', 'fuel','transmission', 'engine','drive', 'price', 'lat', 'long', 'body_type']

frames=[df0,df1,df2]
df = pd.concat(frames)
display(df)

,vin,year,make,model,city,mileage,fuel,transmission,engine,drive,price,lat,long,body_type
0,ZACNJABB5KPJ92081,2019.0,Jeep,Renegade,Bayamon,7.0,Gasoline,A,I4,FWD,23141.0,18.3988,-66.1582,SUV / Crossover
1,SALCJ2FX1LH858117,2020.0,Land Rover,Discovery Sport,San Juan,8.0,Gasoline,A,I4,AWD,46500.0,18.4439,-66.0785,SUV / Crossover
2,JF1VA2M67G9829723,2016.0,Subaru,WRX STI,Guaynabo,NaN,Gasoline,M,H4,AWD,46995.0,18.3467,-66.1098,Sedan
3,SALRR2RV0L2433391,2020.0,Land Rover,Discovery,San Juan,11.0,Gasoline,A,V6,AWD,67430.0,18.4439,-66.0785,SUV / Crossover
4,SALCJ2FXXLH862327,2020.0,Land Rover,Discovery Sport,San Juan,7.0,Gasoline,A,I4,AWD,48880.0,18.4439,-66.0785,SUV / Crossover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95792,WDDWJ4KB4JF679675,2018.0,Mercedes-Benz,C-Class Coupe,Long Island City,15185.0,Premium Unleaded,Automatic,2.0,4WD,36924.0,NaN,NaN,Coupe
95793,WBXHT3Z30H4A54451,2017.0,BMW,X1,Nashua,48351.0,Premium Unleaded,Automatic,2.0,4WD,26315.0,NaN,NaN,SUV
95794,JN1BJ1CR6JW201909,2018.0,Nissan,Rogue Sport,Wappingers Falls,34865.0,Unleaded,Automatic,2.0,4WD,19992.0,NaN,NaN,Hatchback
95795,WA1ANAFY0J2138713,2018.0,Audi,Q5,Selma,29085.0,Premium Unleaded,Automatic,2.0,4WD,31395.0,NaN,NaN,Crossover
95796,WBXHT3C37J5L28038,2018.0,BMW,X1,South Amboy,23342.0,Premium Unleaded,Automatic,2.0,4WD,26288.0,NaN,NaN,SUV

In [87]:
df.isnull().sum()

vin             36038
year              446
make             4420
model            3055
city                0
mileage          7320
fuel            13220
transmission     4379
engine          66741
drive           38425
price           14013
lat              2236
long             2236
body_type       26204
dtype: int64

In [88]:
backup = df.copy()

In [89]:
VIN('SALCJ2FXXLH862327').Model

'Discovery Sport'

In [90]:
df.body_type.unique()

array(['SUV / Crossover', 'Sedan', 'Coupe', 'Hatchback', 'Pickup Truck',
       'Wagon', 'Minivan', 'Van', 'Convertible', nan, 'pickup', 'truck',
       'other', 'coupe', 'SUV', 'hatchback', 'mini-van', 'sedan',
       'offroad', 'bus', 'van', 'convertible', 'wagon', 'Cargo Van',
       'Crossover', 'Pickup', 'Roadster', 'Passenger Van', 'Cutaway',
       'Car Van', 'Mini Mpv', 'Chassis Cab', 'Micro Car', 'Targa',
       'Combi', 'Commercial Wagon', 'Chassis Cowl'], dtype=object)

# Preprocess

In [91]:
# cleaning

#dropping null values
df=df.dropna()

#dropping any cars less than 100 dollars (all of the dropped ones actually have a price of 0)
df=df.loc[df['price']>100]

# standardizing the make feature
def normal_string(s):
    return s.lower().replace(' ', '').replace('-', '').replace('_', '')
 
df['model'] = df['model'].apply(normal_string)
df['make'] = df['make'].apply(normal_string)
df['city'] = df['city'].apply(normal_string)
df['drive'] = df['drive'].apply(normal_string)
df['body_type'] = df['body_type'].apply(normal_string)

#'suv/crossover', 'sedan', 'coupe', 'pickuptruck', 'wagon',
#       'minivan', 'hatchback', 'van', 'convertible', 'pickup', 'other',
#       'suv', 'truck', 'offroad', 'bus', 'cargovan', 'crossover',
#       'roadster', 'cutaway', 'carvan', 'minimpv', 'passengervan',
#       'chassiscab', 'targa', 'microcar', 'combi'


# standardizing body_type feature 
suv = {
    'suv/crossover',
    'suv',
}

sedan = {
    'sedan',
    'coupe',
    'roadster',
    'convertible'
}

truck = {
    'pickuptruck',
    'truck',
    'offroad',
    'pickup'
}

van = {
    'van',
    'passengervan',
    'cargovan',
    'minivan'
}

body_type_other = {
    'other',
    'hatchback',
    'bus',
    'crossover',
    'cutaway',
    'carvan',
    'minimpv',
    'chassiscab',
    'targa',
    'microcar',
    'combi'
}

def body_type_preprocess(x):
    if x in suv:
        return "suv"
    if x in sedan:
        return "sedan"
    if x in truck: 
        return "truck"
    if x in van:
        return "van"
    if x in body_type_other:
        return "body_type_other"
    return x

df['body_type'] = df['body_type'].apply(body_type_preprocess)


# standardizing the fuel feature
gasoline = {'gas', 
            'E85 / Unleaded',
       'Unleaded', 'Premium Unleaded',
       'Premium Unleaded; Unleaded', 
       'Unleaded; Unleaded / E85', 'Unleaded / E85',
       'E85 / Unleaded; Unleaded', 'Premium Unleaded / Unleaded',
       'E85 / Premium Unleaded; E85 / Unleaded', 
       'E85', 'E85 / Premium Unleaded', 
       'Compressed Natural Gas; Unleaded',
       'E85 / Unleaded; Unleaded / Unleaded',
       'Diesel / Premium Unleaded', 'E85 / Unleaded; Unleaded / E85',
       'Unleaded / Unleaded', 
       'Compressed Natural Gas / Unleaded', 'Diesel; Unleaded',
       'Diesel; E85 / Unleaded', 'E85 / Unleaded; Premium Unleaded',
       'Premium Unleaded; Premium Unleaded / E85', 'E85; E85 / Unleaded',
       'Unleaded / Premium Unleaded',
       'Premium Unleaded / E85',
       'M85 / Unleaded'
}

diesel = {
    'Biodiesel'
}

hybrid = {
       'Electric / Premium Unleaded', 
       'Electric / Unleaded',
       'Unleaded / Electric',
       'Electric / Hydrogen',
       'Electric / Premium Unleaded; Electric / Unleaded',
       'Electric / Premium Unleaded; Premium Unleaded',
       'Electric / E85'
}

other = {
    'Hydrogen', 
    'Premium Unleaded / Natural Gas',
    'Compressed Natural Gas / Lpg', 
    'Compressed Natural Gas', 'Propane',
    'Flex Fuel Vehicle',
}

def fuel_preprocess(x):
    if x in gasoline:
        return 'gasoline'
    if x in diesel:
        return 'diesel'
    if x in hybrid:
        return 'hybrid'
    if x in other:
        return 'other'
    return x


df['fuel'] = df['fuel'].apply(fuel_preprocess)

def find_engine_size(s):
    if type(s) == float:
        return s
    elif type(s) == str:
        n_str = ''
        for c in s:
            if c.isnumeric() or c == '.':
                n_str += c
        if len(n_str) > 0:
            return float(n_str)/2
        else:
            return(np.nan)
    else:
        print('other type')
        return(np.nan)

df['engine'] = df['engine'].apply(find_engine_size)
df = df.dropna()

In [92]:
df.shape

(174769, 14)

In [93]:
df.body_type.unique()

array(['suv', 'sedan', 'truck', 'wagon', 'van', 'body_type_other'],
      dtype=object)

In [94]:
def find_country(x):
   return Vin(str(x)).country

df = df.astype({"vin": 'str'})
df['vin'] = df['vin'].str.replace('I', '')
df['vin'] = df['vin'].str.replace('O', '')
df['vin'] = df['vin'].str.replace('Q', '')
df = df[df['vin'].str.len()==17]
df["country"] = df["vin"].apply(find_country)

In [95]:
accepted_strings = {'mercedesbenz', 'audi', 'bmw','cadillac','porsche','ferrari','astonmartin','lamborghini','bentley',
                   'rollsroyce','tesla','volvo','lexus','landrover','jaguar'}
def is_luxury(x):
    if x in accepted_strings:
        return 1
    else:
        return 0

In [96]:
df["luxury"] = df["make"].apply(is_luxury)

In [97]:
df.head()

,vin,year,make,model,city,mileage,fuel,transmission,engine,drive,price,lat,long,body_type,country,luxury
0,ZACNJABB5KPJ92081,2019.0,jeep,renegade,bayamon,7.0,Gasoline,A,2.0,fwd,23141.0,18.3988,-66.1582,suv,Italy,0
1,SALCJ2FX1LH858117,2020.0,landrover,discoverysport,sanjuan,8.0,Gasoline,A,2.0,awd,46500.0,18.4439,-66.0785,suv,United Kingdom,1
3,SALRR2RV0L2433391,2020.0,landrover,discovery,sanjuan,11.0,Gasoline,A,3.0,awd,67430.0,18.4439,-66.0785,suv,United Kingdom,1
4,SALCJ2FXXLH862327,2020.0,landrover,discoverysport,sanjuan,7.0,Gasoline,A,2.0,awd,48880.0,18.4439,-66.0785,suv,United Kingdom,1
5,SALYK2EX1LA261711,2020.0,landrover,rangerovervelar,sanjuan,12.0,Gasoline,A,2.0,awd,66903.0,18.4439,-66.0785,suv,United Kingdom,1

In [98]:
#def find_model(x):
#   return VIN(str(x)).Model
#df["Model2"] = df["vin"].apply(find_model)

In [99]:
df['fuel']=df['fuel'].replace({'Gasoline': 'gasoline', 'Diesel': 'diesel', 'Hybrid': 'hybrid'})

In [100]:
df['transmission']=df['transmission'].replace({'A': 'automatic', 'Automatic': 'automatic', 'M': 'manual', 'Manual': 'manual','Dual Clutch':'dual clutch'})

In [101]:
pd.value_counts(df.drive)

4wd    59103
fwd    44705
awd    43119
rwd    27326
4x2      360
Name: drive, dtype: int64

In [102]:
df.isnull().sum()

vin             0
year            0
make            0
model           0
city            0
mileage         0
fuel            0
transmission    0
engine          0
drive           0
price           0
lat             0
long            0
body_type       0
country         0
luxury          0
dtype: int64

In [103]:
df.body_type.unique()

array(['suv', 'sedan', 'truck', 'wagon', 'van', 'body_type_other'],
      dtype=object)

In [104]:
df.dropna()
df.shape

(174613, 16)

In [105]:
df.drop(columns='price').corrwith(df.price)

C:\Users\atruo\AppData\Local\Temp\ipykernel_8108\2227371321.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.drop(columns='price').corrwith(df.price)

year       0.364097
mileage   -0.400979
engine     0.249879
lat       -0.051631
long       0.066224
luxury     0.321543
dtype: float64

In [106]:
df.to_csv("raw_df.csv", index=False)

# explore top x most common variables

In [37]:
x = 5

cat_list = ['make', 'model', 'city', 'fuel', 'transmission', 'drive', 'body_type']
cat_df = df[cat_list]

def get_top_ratio(column, x):
    top_x = sum(column.value_counts().tolist()[:x])
    total = column.value_counts().sum()
    return top_x / total

for column in cat_df:
    ratio = get_top_ratio(df[column], x) * 100
    print(f'top {x} variables of {column} make up {np.round(ratio, 2)}% our its values')

top 5 variables of make make up 45.1% our its values
top 5 variables of model make up 10.67% our its values
top 5 variables of city make up 4.13% our its values
top 5 variables of fuel make up 100.0% our its values
top 5 variables of transmission make up 100.0% our its values
top 5 variables of drive make up 100.0% our its values
top 5 variables of body_type make up 98.75% our its values

In [38]:
pd.value_counts(df.make)

ford              25637
chevrolet         20565
bmw               11437
mercedesbenz      11229
toyota             9888
jeep               7927
honda              7891
dodge              7359
nissan             7162
ram                5750
hyundai            5255
subaru             4884
kia                4845
audi               4732
gmc                4121
lexus              3667
volkswagen         3540
lincoln            3157
mazda              2529
volvo              2489
cadillac           2383
mitsubishi         2046
acura              1915
infiniti           1850
porsche            1836
landrover          1813
buick              1711
chrysler           1179
jaguar              964
mini                903
alfaromeo           700
maserati            688
ferrari             449
pontiac             292
saturn              259
astonmartin         204
smart               201
lamborghini         194
rover               157
bentley             152
fiat                149
genesis             108
scion               102
mercury              74
saab                 61
oldsmobile           36
rollsroyce           33
suzuki               20
hummer               18
isuzu                11
lotus                11
amgeneral             7
mclaren               5
harleydavidson        5
tesla                 4
fisker                3
maybach               3
datsun                2
plymouth              1
Name: make, dtype: int64

# one hot encoding

In [39]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse_output = False, max_categories=x)
cat_df = enc.fit_transform(cat_df)
cat_df = pd.DataFrame(cat_df)
cat_df.columns = enc.get_feature_names_out()
cat_df.head()

df2 = df.drop(cat_list, axis = 1)
df2 = cat_df.join(df, how='outer')

In [40]:
df2.head()

,make_bmw,make_chevrolet,make_ford,make_mercedesbenz,make_infrequent_sklearn,model_f150,model_grandcherokee,model_ram2500pickup,model_silverado1500,model_infrequent_sklearn,city_anchorage/matsu,city_bronx,city_brooklyn,city_clintontownship,city_infrequent_sklearn,fuel_diesel,fuel_gasoline,fuel_hybrid,fuel_other,fuel_infrequent_sklearn,transmission_CVT,transmission_automatic,transmission_manual,transmission_other,transmission_infrequent_sklearn,drive_4wd,drive_awd,drive_fwd,drive_rwd,drive_infrequent_sklearn,body_type_body_type_other,body_type_sedan,body_type_suv,body_type_truck,body_type_infrequent_sklearn,vin,year,make,model,city,mileage,fuel,transmission,engine,drive,price,lat,long,body_type,country,luxury
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,ZACNJABB5KPJ92081,2019.0,jeep,renegade,bayamon,7.0,gasoline,automatic,2.0,fwd,23141.0,18.3988,-66.1582,suv,Italy,0.0
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1GCWGFCF3F1284719,2015.0,chevrolet,expresscargo,ellicottcity,115879.0,gasoline,automatic,4.8,rwd,20998.0,39.2548,-76.8001,van,United States,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,SALCJ2FX1LH858117,2020.0,landrover,discoverysport,sanjuan,8.0,gasoline,automatic,2.0,awd,46500.0,18.4439,-66.0785,suv,United Kingdom,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5UXKR6C50J0U15201,2018.0,bmw,x5,ellicottcity,63417.0,gasoline,automatic,4.4,4wd,40995.0,39.2548,-76.8001,suv,United States,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,KL8CB6S90FC734143,2015.0,chevrolet,spark,ellicottcity,90184.0,gasoline,automatic,1.2,fwd,8900.0,39.2548,-76.8001,body_type_other,South Korea,0.0

In [41]:
almost_df = df.drop('vin', axis=1)

almost_df = almost_df.sample(frac=0.2, random_state = 2)

almost_df.memory_usage(index=True).sum()/1000000

#almost_df.to_csv('almost_df.csv')

4.470144